.UserList {
    padding: 20px;
}

.UserList-Field {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding: 10px 0;
}

.UserList-Cards {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    max-width: 1136px;
    max-height: 100vh;
}

.UserList-Control {
    display: flex;
    justify-content: space-between;
}

.UserList-Search {
    display: flex;
    gap: 16px;
    align-items: center;
}

.UserList-ButtonRefresh {
    margin-right: 70px;
    padding: 4px 0;

    font-size: 14px;
    line-height: 20px;
    color: #cf7b5a;

    background-color: inherit;
    border: none;
    border-radius: 16px;
}

.UserList-ButtonRefresh:active {
    background-color: #1a1c23;
}

.UserList-InputSearch {
    width: 332px;
    padding: 14px 16px 14px 8px;

    font-size: 16px;
    line-height: 24px;
    color: #8c8988;

    background-color: #1e2027;
    border: none;
    border-radius: 16px;
}
