body,
p {
  margin: 0;
  padding: 0;
}

.UserCard {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;

  width: 332px;
  padding: 10px;

  background-color: #1a1c23;
  border-radius: 16px;
}

.UserCard-Avatar {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 255px;
}

.UserCard-Image {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.UserCard-AvatarName {
  font-family: 'Jura', 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #dcd8d3;
}

.UserCard-AvatarEmail {
  color: #dcd8d3;
}

.UserCard-UserInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  font-family: 'Jura', sans-serif;
}

.UserCard-Title {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #8c8988;
}

.UserCard-UserPhone,
.UserCard-UserBirthday,
.UserCard-UserAddress {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #dcd8d3;
}

.UserCard-ButtonDelete {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px;

  background-color: inherit;
  border-color: #ff2c4733;
  border-width: 0 0 1px 1px;
  border-radius: 0 16px;
}
